Demo_Flow
[{"id":"c216b299.d3274","type":"debug","z":"c342e0af.784a7","name":"","active":true,"console":"true","complete":"payload","x":538,"y":68,"wires":[]},{"id":"f8ee671d.fe26a","type":"inject","z":"c342e0af.784a7","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":148,"y":68,"wires":[["e372d136.5f97b8"]]},{"id":"e372d136.5f97b8","type":"function","z":"c342e0af.784a7","name":"Format timestamp","func":"// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"x":328,"y":68,"wires":[["c216b299.d3274"]]}]
